<div class="container">
  <div class="card-body">
    <h5 class="card-title">About Me & This Website</h5>
    <p class="card-text">Two years ago, I joined Toastmasters. I was excited and a little nervous about this new journey, because English is not my first language. Everyone in my club was very kind and encouraging, before long, I felt comfortable speaking in front of the group, and got very actively involved in the meetings, taking roles from Timer, Ah-counter, to Table Topics Master and Toastmasters.</p>
    <p class="card-text">Table Topics was one of my favorite meeting sections. It puts speakers on the spot, and forces them to talk about whatever comes to their minds. It’s not easy. I haven’t mastered it and often afraid of being called to stage. However, I enjoyed it every time the Table Topics Master offered good topics, and speakers responded to them with excellent short speeches.</p>
    <p class="card-text">I was Table Topics Master quite a few times. I wanted to use good topics to inspire speakers. But, it’s hard to think of good ones. Sometimes, I ended up spending a lot of time searching online, hoping to find one that works well for our meeting theme, or simply for that particular day.</p>
    <p>I built this website to gather good Table Topics ideas from all Toastmasters. I hope these topics will give you some inspirations for hosting the next Table Topics.</p>
    <br>
    <p><strong>Have feedback?</strong></p>
    <p>I’d love your feedback to make this website better. Please send them to me via topics@yanbinjin.com.</p>
  </div>
 </div>