a {
  text-decoration: none;
}

.badge-secondary {
  margin-left:16px;
}
.btn-link {
  font-size: 1.1em;
  color: #4688BC;
  white-space: normal;
  text-align: left;
}

.container {
  margin-top: 15px;
}
h5 {
  display: flex;
  justify-content: space-between;
}
h3 {
  color: #666;
}

.btn-link {
  text-decoration: none;
}