<div class="container">
  <!-- <h2>Most popular topics</h2> -->
  <div class="list-group">
    <div class="list-group-item" *ngFor="let topic of (topics | search: searchTerm)">
      <a title="Filter by category" class="{{'pull-left badge category diff-' + topic.category.toLocaleLowerCase()}}" [routerLink]="['/topics', topic.category]">
        {{topic.category}}
      </a>
      <strong class="title"> <a [routerLink]="['/topic', topic.id]">{{topic.name}}</a></strong>
    </div>
  </div>
</div>
