.category, button{
  min-width: 100px;
  margin-right: 10px;
}
.badge.category {
  padding: 0.6em;
  color: #fbfdfa;
  font-size: 12px;
}
.title {
  font-size: 1.2em;
}
.diff-life {
  background-color: #42ebf4;
}
.diff-tv {
  background-color: #42eb76;
}
.diff-globalization {
  background-color: #f232e3;
}
.diff-study {
  background-color: #f5dd3e;
}
.container {
  margin-top: 10px;
}
