a {
  text-decoration: none;
}
.badge-secondary {
  margin-left:16px;
}
.btn-link {
  font-size: 1.1em;
  color: #4688BC;
  white-space: normal;
  text-align: left;
}
.container {
  margin-top: 15px;
}

h2 {
  color: saddlebrown;
}

h5 {
  display: flex;
  justify-content: space-between;
}
.info {
  text-align:center;
  margin-top: 10px;
}