<div class="container">
  <form #topicForm="ngForm">
    <div [hidden]="submitted">
      <div class="form-group">
        <label for="topicName">Title</label>
        <input id="topicName" name="topicName" class="form-control" required
          minlength="4" [(ngModel)]="newTopic.name" #name="ngModel"
          placeholder="Input Title">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Title is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Title must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="topicDesc">Further description</label>
        <textarea name = "topicDesc" id="topicDesc" class="form-control"
          placeholder="Further description or tips" 
          [(ngModel)] = "newTopic.desc" rows="3">
        </textarea>
      </div>


      <div class="form-group">
        <label for="topicCategory">Category</label> 
        <input id="topicCategory" name="topicCategory" class="form-control" required
          minlength="2" [(ngModel)]="newTopic.category" #category="ngModel"
          placeholder="E.g. travel, music, movie, pets ...  ">
        <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
          <div *ngIf="category.errors.required">
            Category is required.
          </div>
          <div *ngIf="category.errors.minlength">
            Category must be at least 2 characters long.
          </div>
        </div>  
      </div>
      <button type="submit" class="btn btn-default" [disabled]="topicForm.invalid" (click)="addTopic()">Submit</button>
    </div>

    <div class="submitted-message" *ngIf="submitted">
        <div class="alert alert-success" role="alert" *ngIf="displayInfo">
            <h4 class="alert-heading">{{displayInfo.info}}</h4>
            <p>{{displayInfo.instruction}}</p>
            <hr>
            <p class="mb-0"><a (click)="submitted = false">{{displayInfo.link}}</a></p>
        </div>
    </div> 
  </form>
</div>

