<div class="container">
    {{diagnostic}}
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
        required
        [(ngModel)]="newUser.email" name="email">
        <!-- <p *ngIf="errors['password']">Email is not correct!</p> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password"
        required
        [(ngModel)]="newUser.password" name="password">
      </div>
      <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="text" class="form-control" id="password"
          required
          [(ngModel)]="newUser.comfirmedPassword" name="password">
        </div>
      <button type="submit" class="btn btn-success" (click)="registerUser()">Submit</button>
      <div class="form-group"> Already a member?<a [routerLink]="['/login']">Login</a></div>
      <a href="/auth/google">Sign In with Google</a>
    </form>
  </div>